# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.egg-info/
dist/
build/

# Environments
.env
.venv
env/
venv/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Downloaded files
downloads/
*.zip

# Logs
*.log

# OS
.DS_Store
Thumbs.db
